

<div class="row justify-content-center items">
    <div class="col-12">
        <div class="d-flex flex-column h-100">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="text-center">
                        <h1 class="text-error mb-4">401</h1>
                        <h2 class="text-uppercase text-danger mt-3">YETKİSİZ ERİŞİM.</h2>
                        <p class="text-muted mt-3">
                            Bu sayfaya erişim yetkiniz bulunmamaktadır.
                            Eğer bir sorun olduğunu düşünüyorsanız,
                            lütfen yöneticiniz ile iletişime geçiniz.
                        </p>

                        <a class="btn btn-soft-danger mt-3" asp-controller="Home" asp-action="Index"><i class="ri-home-4-line me-1"></i> Ana Sayfaya Dön</a>
                    </div> <!-- end /.text-center-->
                </div> <!-- end col-->
            </div>
        </div>
    </div> <!-- end col -->
</div>